body {
    font: 10pt sans-serif;
    margin: 8px;
    column-gap: 2em;
}
pre {
    font: 8pt monospace;
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 0.4em;
    white-space: pre-wrap;
}
span.button {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 4px;
    margin: 0 2px;
    font-size: 8pt;
    font-weight: bold;
}
a.code, code {
    font-family: monospace;
    font-weight: bold;
    color: #444;
    background-color: #ddd;
    padding: 0 4px;
    border-radius: 3px;
}
p {
    margin: .6em 0;
}
ul, ol {
    margin-top: .4em;
    margin-bottom: .4em;
}
li {
    margin: .3em 0 .3em -1em;
}
h2 {
    border-bottom: 2px solid black;
    letter-spacing: 1px;
}
h3 {
    border-bottom: 1px solid grey;
    margin-bottom: .6em;
}
h4 {
    color: #333;
    margin-bottom: .3em;
}
div.note {
    text-align: center;
    margin: 1em 15%;
    padding: .75em;
    background-color: white;
    border: 3px #666 double;
}
table.footnote {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 .6em;
}
table.footnote > caption {
    text-align: left;
}
table.footnote > caption > div {
    width: 10em;
    border-bottom: 1px solid black;
}
table.footnote td {
    font-size: smaller;
    text-align: justify;
    vertical-align: top;
}
