body {
    font: 9pt sans-serif;
    margin: 8px;
}
table {
    border-spacing: 12px 6px;
}
textarea {
    font: 8pt monospace;
    background-color: transparent;
    height: calc(100% - 37px);
    border: 0;
    border-top: 1px dashed #aaa;
    padding: 0 6px;
    width: calc(100% - 12px);
    display: block;
    resize: none;
}
.curvy-tabs-content {
    padding: 0
}
label {
    white-space: nowrap;
    font: normal 9pt sans-serif;
}
select, input, textarea {
    outline: 0;
}
span.feedback {
    float: right;
    margin-top: 12px;
    display: none;
}
input[type=button] {
    background-color: grey;
    color: white;
    border: 1px dotted transparent;
}
input[type=button].locals {
    cursor: help;
    margin: 9px;
    border-radius: 4px;
}
input[type=button].api {
    font: 12px monospace;
    border-radius: 4px;
    padding: 4px 7px;
    margin: 6px;
    float: right;
}
input[type=button]:hover {
    background-color: #555;
}
input[type=button]:active {
    color: #555;
    background-color: white;
    border-color: grey;
}
